@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

video.holdControls::-webkit-media-controls-panel {
  display: flex !important;
  opacity: 1 !important;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #3a3f4d;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  user-select: none;
  min-width: 1000px;
}

div {
  color: white;
}

* {
  box-sizing: border-box;
}

.center {
  text-align: center;
}

#app {
  height: 100%;
}

.flex {
  display: flex;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-end;
}

.justify-space-between {
  justify-content: space-between;
}

.flex1 {
  flex: 1;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start !important;
}

.absolute {
  position: absolute;
}

.mt5 {
  margin-top: 5px;
}

.ml8 {
  margin-left: 8px;
}
